
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="/src/frontend/main.js" type="module"></script>
		<title>questions</title>
		<link rel="stylesheet" href="./styles.css">
	</head>
	<body>
		<div class="quiz-container">
		<h1>HTML Questions</h1>
	<form id ="quizForm" data-total-questions="4">

<div class="question" data-correct-answer="answer3">
	<pre>Ef við værum að smíða vefsíðu og myndum vilja geta farið frá index.html yfir á about.html, hvað væri best að nota?</pre>
<div class="answer">
	<label>
		<input type="radio" name="question0" value="answer0">
		&lt;button to=&quot;about.html&quot;&gt;About&lt;/button&gt;
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question0" value="answer1">
		&lt;form method=&quot;get&quot; action=&quot;about.html&quot;&gt;&lt;button&gt;About&lt;/button&gt;&lt;/form&gt;
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question0" value="answer2">
		Allar jafn góðar / All equally good
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question0" value="answer3">
		&lt;a href=&quot;about.html&quot;&gt;About&lt;/a&gt;
	</label>
</div></div>

<div class="question" data-correct-answer="answer2">
	<pre>Í &lt;head&gt; á vefjum setjum við &lt;meta charset=&quot;utf-8&quot;&gt; (eða það stafasett sem nota á), afhverju er það gert?</pre>
<div class="answer">
	<label>
		<input type="radio" name="question1" value="answer0">
		Skilgreining sem visual studio verður að hafa þannig að prettier virki rétt.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question1" value="answer1">
		Skilgreining sem aXe krefur okkur um til að vefur verði aðgengilegur.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question1" value="answer2">
		Þannig að stafir birtist rétt.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question1" value="answer3">
		Ekkert af þessu.
	</label>
</div></div>

<div class="question" data-correct-answer="answer3">
	<pre>Það sem við getum gert til að forrita aðgengilega vefi er</pre>
<div class="answer">
	<label>
		<input type="radio" name="question2" value="answer0">
		Hafa tóman alt texta á myndum ef þær eru eingöngu til skrauts.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question2" value="answer1">
		Merkja form á aðgengilegan hátt.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question2" value="answer2">
		Nota eingöngu lyklaborð við að skoða og nota vefinn.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question2" value="answer3">
		Allt af þessu.
	</label>
</div></div>

<div class="question" data-correct-answer="answer2">
	<pre>Hvað er merkingarfræði í sambandi við námsefnið?</pre>
<div class="answer">
	<label>
		<input type="radio" name="question3" value="answer0">
		Hver CSS selector hefur einhverja skilgreinda merkingu—merkingarfræðilegt gildi—sem við þurfum að hafa í huga þegar við smíðum vefi.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question3" value="answer1">
		Hvert CSS eigindi hefur einhverja skilgreinda merkingu—merkingarfræðilegt gildi—sem við þurfum að hafa í huga þegar við smíðum vefi.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question3" value="answer2">
		Hvert HTML element hefur einhverja skilgreinda merkingu—merkingarfræðilegt gildi—sem við þurfum að hafa í huga þegar við smíðum vefi.
	</label>
</div>

<div class="answer">
	<label>
		<input type="radio" name="question3" value="answer3">
		Hvert HTML tag hefur einhverja skilgreinda merkingu—merkingarfræðilegt gildi—sem við þurfum að hafa í huga þegar við smíðum vefi.
	</label>
</div></div>

<button type="button" id="submitButton">Submit</button>
</form>
</div>